<div class="card mt-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>{{'homePage' | translate}}</h4>
        <!-- <div>
            <a routerLink="/">{{'homePage' | translate}}</a>
        </div> -->
    </div>
</div>

<!-- Loading -->
<div class="row mt-4" *ngIf="isLoading">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <h3>{{ "categories" | translate }}</h3>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input [(ngModel)]="searchCategory" type="search" class="form-control"
                        placeholder="{{ 'search' | translate }}" />
                </div>
                <ul class="categories placeholder-glow">
                    <li class="category loader-category placeholder" *ngFor="let l of loaderDatas" disabled>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-12">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input [(ngModel)]="request.search" (keydown.enter)="getAll()" (search)="getAll()" type="search"
                class="form-control" placeholder="{{ 'search' | translate }}" />
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-12 mb-2" *ngFor="let l of loaderDatas">
                <div class="card text-center">
                    <div class="card-body placeholder-glow">
                        <div class="card-img-top mt-2 loading placeholder"></div>
                    </div>
                    <div class="card-header placeholder-glow">
                        <h5 class="card-title"></h5>
                        <p class="placeholder"></p>
                    </div>
                    <div class="card-body placeholder-glow">
                        <p class="card-text placeholder"></p>
                        <button iconControl disabled
                            class="btn btn-outline-secondary d-flex placeholder justify-content-between w-100 align-items-center loading">
                            <span></span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="row mt-4" *ngIf="!isLoading">
    <!-- Left Categories -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <div class="card">
            <div class="card-header" id="categories">
                <h3>{{ "categories" | translate }}</h3>
              </div>
            <div class="card-body">
                <!-- Search -->
                <div class="input-group mb-3">
                    <input [(ngModel)]="searchCategory" type="search" class="form-control"
                        placeholder="{{'search' | translate}}">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <ul class="categories">
                    <li (click)="changeCategory(null)" [ngClass]="request.categoryId === null ? 'active' : '' ">
                        {{'allCategories' | translate}}
                    </li>
                    <li (click)="changeCategory(c.id)" [ngClass]="request.categoryId === c.id ? 'active' : '' "
                        *ngFor="let c of categories | category:searchCategory">
                        {{c.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Search & Products -->
    <div class="col-lg-9 col-md-8 col-sm-6 col-12">
        <!-- Search -->
        <div class="input-group mb-3" id="bookSearch">
            <input [(ngModel)]="request.search" (keydown.enter)="getAll()" (search)="getAll()" type="search"
                class="form-control" placeholder="{{'search' | translate}}">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <!-- Products -->
        <div class="row">
            <div class="col-xl-4 col-md-6 col-12 mb-2" id="book{{i}}" *ngFor="let b of books let i = index">
                <div class="card text-center">
                    <div class="card-header">
                        <img [src]="b.coverImageUrl" class="card-img-top mt-2" alt="image">
                    </div>
                    <div class="card-body">
                        <p>{{b.author}}</p>
                        <p *ngFor="let category of b.categories">{{category}}</p>
                        <h5 class="card-title">{{b.title}}</h5>
                        <p class="card-text">{{b.summary}}</p>
                        <!-- <h5><b>{{b.price.value | currency: '':''}} {{b.price.currency}}</b></h5>        
                        <button class="btn btn-info">Sepete Ekle</button> -->
                        <button iconControl id="addShoppingCartBtn{{i}}"
                            class="btn btn-outline-secondary d-flex justify-content-between w-100 align-items-center"
                            (click)="addShoppingCart(b)">
                            <span>{{b.price.value | currency:'':'':'1.2-2'}} {{b.price.currency}}</span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- infiniteScroll -->
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="feedData()">
        </div>
    </div>
</div>