.categories{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories li{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    transition: transform .4s;
}

.categories li:hover{
    background-color: #0d6efd;
    color: white;
    transform: translateX(10px);
}

.card-img-top{
    max-width: 100%;
    height: 360px;
    object-fit: contain;
}

.active{
    background-color: #0d6efd;
    color: white;
}