<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mb-2" routerLink="/">Book Store</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active mb-2" aria-current="page" routerLink="/">{{'home' | translate}}</a> -->
            <a *ngIf="auth.isAuthentication()" class="nav-link mt-1" aria-current="page" routerLink="/orders">{{'orders' | translate}}</a>
          </li>
        </ul>
        
        <!-- Language -->
        <select style="width: 20%;" [(ngModel)]="language" (change)="switchLanguage($event)" class="form-select me-2" id="language">
            <option value="en">English</option>
            <option value="tr">Türkçe</option>
        </select>
        <!-- Shopping Cart -->
        <button routerLink="/shopping-cart" class="btn btn-outline-secondary position-relative">
          <i class="fa-solid fa-cart-shopping" [ngClass]="shopping.shoppingCarts.length > 0 ? 'fa-bounce' : ''" style="color: #bfc5cf;"></i>
          <span *ngIf="shopping.shoppingCarts.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{shopping.shoppingCarts.length}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <!-- User Login Buton -->
        <button *ngIf="!auth.isAuthentication()" class="btn btn-outline-light ms-2" routerLink="/login">
          <i class="fa-solid fa-user-lock"></i>
        </button>

        <div class="dropdown ms-2" *ngIf="auth.isAuthentication()">
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" width="30">
            {{auth.userName}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profilim</a></li>
             <!-- User Logout Buton -->
            <li><a class="dropdown-item" (click)="logout()">Çıkış Yap</a></li>
          </ul>
        </div>        
      </div>
    </div>
  </nav>